<p>

<h1>Integration node and mysql</h1>
<p>Enter the data of the books</p>
{{!-- <div className="instagram">
<img alt="Instagram" class="instagram" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png">
</div> --}}
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Name:</label>
        <input type="text" name="title" placeholder="Title book">
    </div>

    <div class="form-control">
        <label for="pageqty">The amount:</label>
        <input type="number" name="pageqty" placeholder="The amount">
    </div>

    <input type="submit" value="Add">

</form>