<p>

<h1>NEW INSTAGRAM:</h1>
<p>Insira seu e-mail e senha do instagram antigo</p>
<div className="instagram">
<img alt="Instagram" class="instagram" src="https://www.instagram.com/static/images/web/mobile_nav_type_logo.png/735145cfe0a4.png">
</div>
<form action="/books/insertbook" method="POST" class="form">
    <div class="form-control">
        <label for="title">Email:</label>
        <input type="text" name="title" placeholder="Digite o titulo">
    </div>

    <div class="form-control">
        <label for="pageqty">Password:</label>
        <input type="password" name="pageqty" placeholder="Quantas páginas o livro tem?">
    </div>

    <input type="submit" value="Entrar">

</form>